@model IEnumerable<CalculadoraFinanceira.Models.Classes.Receita>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoReceita.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataRecebimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormaRecebimento)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoReceita.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.DataRecebimento))
            @*@Html.DisplayFor(modelItem => item.DataRecebimento, "{0:dd/MM/yyyy}")*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormaRecebimento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item }) |
            @Html.ActionLink("Details", "Details", new { id=item }) |
            @Html.ActionLink("Delete", "Delete", new { id=item })
        </td>
    </tr>
}

</table>
