@model IEnumerable<CalculadoraFinanceira.Models.Classes.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataAniversario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ConfirmarEmail)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Senha)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ConfirmarSenha)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataAniversario)
        </td>
        
        <td>
            @Html.DisplayNameFor(model => model.Email)
        </td>

        <td>
            @Html.DisplayNameFor(model => model.ConfirmarEmail)
        </td>

        <td>
            @Html.DisplayNameFor(model => model.Senha)
        </td>

        <td>
            @Html.DisplayNameFor(model => model.ConfirmarSenha)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
